server {
  listen 80;
  access_log /tmp/access.log;
  error_log  /tmp/error.log info;

  # Don't Modify the following line
  # Placeholder

  # root /home/intery/frontend/current;

  location / {
    index index.html;
    try_files $uri $uri/ $uri.html =404;
    gzip on;
    gzip_types text/html text/css text/javascript application/javascript image/jpeg image/png;
    gzip_min_length 1000;
  }
}